version: 2.1

defaults: &defaults
  parameters:
    version:
      type: string
      default: "latest"
  docker:
    - image: "circleci/golang:<< parameters.version >>"
  environment:
    GO111MODULE: "on"
    GOPATH: "/home/circleci/project/go"
    PATH: "/home/circleci/.local/bin:/home/circleci/bin:/home/circleci/project/go/bin:/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

commands:
  test:
    parameters:
      package:
        type: string
    steps:
      - run:
          name: "<< parameters.package >>: Fetch dependencies"
          working_directory: ~/project/<< parameters.package >>
          command: |
            go get -v ./...
      - run:
          name: "<< parameters.package >>: Run gofmt"
          working_directory: ~/project/<< parameters.package >>
          command: |
            diff -u <(echo -n) <(gofmt -d -e .)
      - run:
          name: "<< parameters.package >>: Run go vet"
          working_directory: ~/project/<< parameters.package >>
          command: |
            go generate ./...
            go vet -v ./...
      - run:
          name: "<< parameters.package >>: Run revive"
          working_directory: ~/project/<< parameters.package >>
          command: |
            revive -config ~/project/.circleci/revive.toml ./...
      - run:
          name: "<< parameters.package >>: Run staticcheck"
          working_directory: ~/project/<< parameters.package >>
          command: |
            staticcheck ./...
      - run:
          name: "<< parameters.package >>: Run go test (+ race detector)"
          working_directory: ~/project/<< parameters.package >>
          command: |
            go generate ./...
            go test -v -race ./...
  build:
    parameters:
      buildContainerName:
        type: string
      moduleSubDir:
        type: string
      package:
        type: string
      targets:
        type: string
      binaryName:
        type: string
    steps:
      - xgo-build:
          sourcesContainerName: "sourcesContainer"
          buildContainerName: << parameters.buildContainerName >>
          moduleSubDir: << parameters.moduleSubDir >>
          package: << parameters.package >>
          targets: << parameters.targets >>
          outputDirectory: "build"
      - run:
          name: "<< parameters.moduleSubDir >>: Validate existence of built binaries"
          command: |
            export WORKING_DIR=~/project/build/github.com/pastelnetwork/gonode
            export MACOS_ARTIFACT=$WORKING_DIR/<< parameters.binaryName >>-darwin-10.14-amd64
            export WINDOWS_ARTIFACT=$WORKING_DIR/<< parameters.binaryName >>-windows-4.0-amd64.exe
            export LINUX_ARTIFACT=$WORKING_DIR/<< parameters.binaryName >>-linux-amd64
            if [[ "<< parameters.targets >>" == *"linux/amd64,"* ]]; then
              echo "Check existence of linux/amd64 build"
              test -f $LINUX_ARTIFACT || (echo "$LINUX_ARTIFACT is not found" && exit 1)
            fi
            if [[ "<< parameters.targets >>" == *"darwin-10.14/amd64,"* ]]; then
              echo "Check existence of darwin-10.14/amd64 build"
              test -f $MACOS_ARTIFACT || (echo "$MACOS_ARTIFACT is not found" && exit 1)
            fi
            if [[ "<< parameters.targets >>" == *"windows/amd64,"* ]]; then
              echo "Check existence of windows/amd64 build"
              test -f $WINDOWS_ARTIFACT || (echo "$WINDOWS_ARTIFACT is not found" && exit 1)
            fi
  release:
    parameters:
      buildContainerName:
        type: string
      moduleSubDir:
        type: string
      package:
        type: string
      targets:
        type: string
      binaryName:
        type: string
    steps:
      - xgo-build:
          sourcesContainerName: "sourcesContainer"
          buildContainerName: << parameters.buildContainerName >>
          moduleSubDir: << parameters.moduleSubDir >>
          package: << parameters.package >>
          targets: << parameters.targets >>
          outputDirectory: "build"
      - github-upload-all-os:
          working_directory: "~/project/build/github.com/pastelnetwork/gonode"
          binaryName: << parameters.binaryName >>
          repo: "gonode"
          targets: << parameters.targets >>

  create-sources-container:
    parameters:
      containerName:
        type: string
    steps:
      - run:
          name: "Create named docker container << parameters.containerName >> with project's sources"
          command: |
            docker create -v /source --name << parameters.containerName >> ubuntu:18.04 /bin/true
            docker cp ./. << parameters.containerName >>:/source

  xgo-build:
    parameters:
      sourcesContainerName:
        type: string
      buildContainerName:
        type: string
      moduleSubDir:
        type: string
      package:
        type: string
      targets:
        type: string
      outputDirectory:
        type: string
    steps:
      - run:
          name: "<< parameters.moduleSubDir >> << parameters.package >>: xgo build for << parameters.targets >>"
          command: |
            GOPATH= xgo -go go-1.16.x --targets=<< parameters.targets >>  -moduleSubDir=<< parameters.moduleSubDir >> -pkg=<< parameters.package >> -volumesFrom=<< parameters.sourcesContainerName >> -dockerRM=false -dockerContainerName=<< parameters.buildContainerName >> ./

            mkdir -p << parameters.outputDirectory >>
            docker cp << parameters.buildContainerName >>:/build/. ./<< parameters.outputDirectory >>
            ls -R ./<< parameters.outputDirectory >>

  github-upload-all-os:
    parameters:
      working_directory:
        type: string
      binaryName:
        type: string
      repo:
        type: string
      targets:
        type: string
    steps:
      - run:
          name: Upload << parameters.targets >> to << parameters.repo >> GitHub repo
          working_directory: << parameters.working_directory >>
          command: |
            export MACOS_ARTIFACT=<< parameters.binaryName >>-darwin-10.14-amd64
            export WINDOWS_ARTIFACT=<< parameters.binaryName >>-windows-4.0-amd64.exe
            export LINUX_ARTIFACT=<< parameters.binaryName >>-linux-amd64
            if [[ "<< parameters.targets >>" == *"linux/amd64,"* ]]; then
              echo "Check existence of linux/amd64 build and upload to GitHub"
              test -f $LINUX_ARTIFACT
              github-release upload --user pastelnetwork --repo << parameters.repo >> --tag $CIRCLE_TAG --name << parameters.binaryName >>-linux-amd64 --file << parameters.binaryName >>-linux-amd64
            fi
            if [[ "<< parameters.targets >>" == *"darwin-10.14/amd64,"* ]]; then
              echo "Check existence of darwin-10.14/amd64 build and upload to GitHub"
              test -f $MACOS_ARTIFACT
              github-release upload --user pastelnetwork --repo << parameters.repo >> --tag $CIRCLE_TAG --name << parameters.binaryName >>-darwin-amd64 --file << parameters.binaryName >>-darwin-10.14-amd64
            fi
            if [[ "<< parameters.targets >>" == *"windows/amd64,"* ]]; then
              echo "Check existence of windows/amd64 build and upload to GitHub"
              test -f $WINDOWS_ARTIFACT
              github-release upload --user pastelnetwork --repo << parameters.repo >> --tag $CIRCLE_TAG --name << parameters.binaryName >>-windows-amd64.exe --file << parameters.binaryName >>-windows-4.0-amd64.exe
            fi

jobs:
  prepare_workspace:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Print the go version
          command: |
            go version
            printenv PATH
      - run:
          name: Install swig
          command: |
            sudo apt-get install -y swig
      - run:
          name: Install revive
          command: |
            GO111MODULE=off go get -u github.com/mgechev/revive
      - run:
          name: Install staticcheck
          command: |
            GO111MODULE=off go get -u honnef.co/go/tools/cmd/staticcheck
      - run:
          name: Install mockery
          command: |
            go get -u github.com/vektra/mockery/cmd/mockery
      - run:
          name: Install xgo
          command: |
            go install -v github.com/pastelnetwork/xgo@cfada204f14596d56540b02e38526a56d57ddc30
      - persist_to_workspace:
          root: .
          paths:
            - .

  # Run automated tests
  test_common:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "common"

  test_pastel:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "pastel"

  test_pastel-api:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "tools/pastel-api"

  test_proto:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "proto"

  test_legroast:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "legroast"

  test_dupe-detection:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install libtensorflow
          command: |
            wget https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.4.0.tar.gz
            sudo tar -C /usr/local -xzf ./libtensorflow-cpu-linux-x86_64-2.4.0.tar.gz
            sudo /sbin/ldconfig -v
      - test:
          package: "dupe-detection"

  test_pqsignatures:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "pqsignatures"

  test_walletnode:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "walletnode"

  test_supernode:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - test:
          package: "supernode"

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker:
          version: 20.10.2
          docker_layer_caching: true
      - create-sources-container:
          containerName: "sourcesContainer"
      - build:
          buildContainerName: "pqsignatures"
          moduleSubDir: "pqsignatures"
          package: "cmd/pqsignatures"
          targets: "darwin-10.14/amd64,windows/amd64,"
          binaryName: "pqsignatures"
      - build:
          buildContainerName: "walletnode"
          moduleSubDir: "walletnode"
          package: ""
          targets: "darwin-10.14/amd64,windows/amd64,"
          binaryName: "walletnode"

  # Whenever we create a GitHub release, build binaries for each OS, and upload them into the release
  release:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.2
          docker_layer_caching: true
      - run:
          name: Install github-release
          command: |
            GO111MODULE=off go get github.com/github-release/github-release
      - run:
          name: Install xgo
          command: |
            go install -v github.com/pastelnetwork/xgo@48be1f35b934924c998997a8470ffdb6a022b968
      - create-sources-container:
          containerName: "sourcesContainer"
      - release:
          buildContainerName: "pqsignatures"
          moduleSubDir: "pqsignatures"
          package: "cmd/pqsignatures"
          targets: "linux/amd64,darwin-10.14/amd64,windows/amd64,"
          binaryName: "pqsignatures"
      - release:
          buildContainerName: "walletnode"
          moduleSubDir: "walletnode"
          package: ""
          targets: "linux/amd64,darwin-10.14/amd64,windows/amd64,"
          binaryName: "walletnode"
      - release:
          buildContainerName: "supernode"
          moduleSubDir: "supernode"
          package: ""
          targets: "linux/amd64,"
          binaryName: "supernode"

workflows:
  build-and-test:
    jobs:
      - prepare_workspace:
          filters:
            tags:
              only: /^v.*/
      - test_common:
          requires:
            - prepare_workspace
      - test_pastel:
          requires:
            - prepare_workspace
      - test_pastel-api:
          requires:
            - prepare_workspace
      - test_proto:
          requires:
            - prepare_workspace
      - test_legroast:
          requires:
            - prepare_workspace
      - test_dupe-detection:
          requires:
            - prepare_workspace
      - test_pqsignatures:
          requires:
            - prepare_workspace
      - test_walletnode:
          requires:
            - prepare_workspace
          filters:
            tags:
              only: /^v.*/
      - test_supernode:
          requires:
            - prepare_workspace
          filters:
            tags:
              only: /^v.*/
      - build:
          requires:
            - prepare_workspace
      - release:
          # Reminder: All jobs in "requires" section to run on git tags should have "filters: tags:" value explicitly set
          requires:
            - test_walletnode
            - test_supernode
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
          context:
            - Release