{{/* insert a new art to database */}}

INSERT INTO art_metadata (
    art_id,
    artist_pastel_id,
    copies,
    created_timestamp,
    green_nft,
    rareness_score,
    royalty_rate_percentage
) VALUES (
    '{{.ArtID}}',
    '{{.ArtistPastelID}}',
    {{.Copies}},
    {{.CreatedTimestamp}},
    {{.GreenNft}},
    {{.RarenessScore}},
    {{.RoyaltyRatePercentage}}
);
