{{/* insert a new instance (copy) art to database 
Constraint:
- The art_id should be registered in art_metadata table
- Number of instances of the same art_id should be <= number of copies of that art_id
*/}}

INSERT INTO art_instance_metadata (
    instance_id,
    art_id,
    owner_pastel_id,
    price
) VALUES (
    '{{.InstanceID}}',
    '{{.ArtID}}',
    '{{.OwnerPastelID}}',
    {{.Price}}
);
