{{/* Total combined historical sales (i.e., add up the sale price of each copy of each NFT sold in that user’s history) */}}

SELECT
    seller_pastel_id, SUM(price) AS sum_price
FROM
    transactions
GROUP BY
    seller_pastel_id
ORDER BY
    sum_price
DESC;
