{{/* Total combined historical sales (i.e., add up the sale price of each copy of each NFT sold in that user’s history) */}}

SELECT
    SUM(price) AS sum_price
FROM
    transactions
WHERE
    seller_pastel_id = '{{.}}'
GROUP BY
    seller_pastel_id
;
