{{/* Get followers of a user */}}

SELECT
    follower_pastel_id, COUNT(*) OVER () AS total_count
FROM
    follow_relations
WHERE
    followee_pastel_id = '{{.ID}}'
ORDER BY
    follower_pastel_id
LIMIT
    {{.Limit}}
OFFSET
    {{.Offset}};
