{{/* Highest sale price received for a single copy of any NFT sold by user */}}

SELECT
    MAX(price) AS max_price
FROM
    transactions
WHERE
    seller_pastel_id = '{{.}}'
GROUP BY
    seller_pastel_id
;
