{{/* Total NFTs sold: the total number of copies across the total number of unique NFTs. */}}

SELECT
    art_id, copies AS total_copies, SUM(CASE WHEN owner_pastel_id <> artist_pastel_id THEN 1 ELSE 0 END) AS sold_copies
FROM
    art_instance_metadata LEFT JOIN art_metadata USING(art_id)
WHERE
    art_id = '{{.}}'
GROUP BY art_id;
