UPDATE
    user_metadata
SET
    real_name = '{{.Realname}}',
    facebook_link = '{{.FacebookLink}}',
    twitter_link = '{{.TwitterLink}}',
    native_currency = '{{.NativeCurrency}}',
    location = '{{.Location}}',
    primary_language = '{{.PrimaryLanguage}}',
    categories = '{{.Categories}}',
    biography = '{{.Biography}}',
    timestamp = {{.Timestamp}},
    signature = '{{.Signature}}',
    previous_block_hash = '{{.PreviousBlockHash}}',
    user_data_hash = '{{.UserdataHash}}',
    avatar_image = {{ if (eq .AvatarImage "")}}NULL,{{ else }}x'{{.AvatarImage}}',{{ end }}
    avatar_filename = '{{.AvatarFilename}}',
    cover_photo_image = {{ if (eq .CoverPhotoImage "")}}NULL,{{ else }}x'{{.CoverPhotoImage}}',{{ end }}
    cover_photo_filename = '{{.CoverPhotoFilename}}'
WHERE
    artist_pastel_id = '{{.ArtistPastelID}}'
;
