pastel-api:
  hostname: "127.0.0.1"
  port: 29932
  username: "4444"
  password: ""

node:
  pastel_id: jXa5335zYgxydGXsN6MA8r7BLbYzMTnKoV63sWBVmTrmhPgPutxa534KuvxB24fxwpH3jXr3wvHJUUzNQWGHPK
  server:
    listen_addresses: "0.0.0.0"
    port: 4444

p2p:
  listen_address: "0.0.0.0"
  port: 6000
  data_dir: "p2p-localnet-6000"

metadb:
  listen_address: "0.0.0.0"
  http_port: 4041
  raft_port: 4042
  data_dir: "metadb-4444"
